doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Credit Sales Portal
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='/assets/css/login.css')
  link(rel='stylesheet' href='/assets/css/page.css')
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    img(src='/img/logokgl.jpeg' alt='')
    a.navbar-brand(href='#') KGL
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | SALES
          ul.dropdown-menu(aria-labelledby='navbarDropdown')
            li
              a.dropdown-item(href='/sales') Sales Input
            li
              a.dropdown-item(href='#') Sales Records
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | PROCUREMENT
          ul.dropdown-menu(aria-labelledby='navbarDropdown')
            li
              a.dropdown-item(href='/purchases') Procurement Input
            li
              a.dropdown-item(href='#') Procurement Records
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | CREDIT SALES
          ul.dropdown-menu(aria-labelledby='navbarDropdown')
            li
              a.dropdown-item(href='/credit') Credit Sales Input
            li
              a.dropdown-item(href='#') Credit Sales Records
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | REGISTER
          ul.dropdown-menu(aria-labelledby='navbarDropdown')
            li
              a.dropdown-item(href='/register') Register Here
        li.nav-item
          a.nav-link(href='/landing') LOGOUT
.container
  form(name='registration' onblur='firstFocus()' action="/credit" method="POST")
    .brand-title Credit Sales Input
    .inputs
      .row
        .tableRow.col
          label Name of buyer
          input(type='alphanumeric' name='buyername' onblur='valBuyer()')
        .tableRow.col
          label National ID:
          input(type='alphabets' name='nationalid' onblur='valNin()')
      .row
        .tableRow.col
          label Location
          input(type='alphanumeric' name='location' onblur='valLoc()')
        .tableRow.col
          label Contacts
          input(type='numeric' name='contact' placeholder='0783023810' onblur='valCon()')
      .row
        .tableRow.col
          label Amount due
          input(type='alphanumeric' name='amountdue' onblur='valDue()')
        .tableRow.col
          label Sales Agent
          input(type='alphanumeric' name='salesagent' onblur='valAgent()')
      .row
        .tableRow.col
          label Due Date:
          input(type='datetime-local' name='date' onblur='valDate()')
        .tableRow.col
          label Date of dispatch
          input(type='datetime-local' name='dispatch' onblur='valDispatch()')  
        
      .row
        .tableRow.col
          label Produce name
          select(name='nameofproduce' onblur='valProduce()')
            option(value='default') Produce Name
            option(value='Beans') Beans
            option(value='Grain') Grain
            option(value='Maize') Maize
            option(value='cowpeas') Cowpeas
            option(value='G_nuts') G-nuts
            option(value='Soya Beans') Soya Beans

        .tableRow.col
          label Branch
          select(name='branch' onblur="valBran()")
            option(value='default') Branch Name
            option(value='Ggaba') Ggaba
            option(value='Ntinda') Ntinda
      div
        label
        button#mybutton.btnc(type='submit') Submit
span#footer-content &copy; 2022 Copyright: Arinaitwe Sheila
script(src='/assets/bootstrap/js/bootstrap.bundle.js')
script(src='/javascript/credit.js')
