doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Produce sold on Credit (Debtors)
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='/assets/css/login.css')
  link(rel='stylesheet' href='/assets/css/page.css')
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    img(src='/img/logokgl.jpeg' alt='')
    a.navbar-brand(href='#') KGL
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(aria-current='page' href='/html/kgl.html') HOME
        li.nav-item
          a.nav-link(href='/html/login.html') LOG IN
        li.nav-item
          a.nav-link(href='/html/kgl.html') LOG OUT
.container
  form(name='registration' onblur='firstFocus()')
    .brand-title DEBTORS
    .inputs
      .row
        .tableRow.col
          label Name of buyer
          input(type='alphanumeric' name='buyername' onblur='valBuyer()')
        .tableRow.col
          label National ID:
          input(type='alphabets' name='nationalid' onblur='valNin()')
      .row
        .tableRow.col
          label Location
          input(type='alphanumeric' name='location' onblur='valLoc()')
        .tableRow.col
          label Contacts
          input(type='numeric' name='contact' placeholder='0783023810' onblur='valCon()')
      .row
        .tableRow.col
          label Amount due
          input(type='alphanumeric' name='amountdue' onblur='valDue()')
        .tableRow.col
          label Sales Agent
          input(type='alphanumeric' name='salesagent' onblur='valAgent()')
      .row
        .tableRow.col
          label Due Date:
          input(type='datetime-local' name='date' onblur='valDate()')
        .tableRow.col
          label Produce name
          input(type='alphanumeric' name='nameofproduce' onblur='valProduce()')
      .row
        .tableRow.col
          label Tonnage
          input(type='numeric' name='tonnage' onblur='valTonnage()')
        .tableRow.col
          label Date of dispatch
          input(type='datetime-local' name='dispatch' onblur='valDispatch()')
      div
        label
        button#mybutton.btnc Submit
span#footer-content &copy; 2022 Copyright: Arinaitwe Sheila
script(src='/assets/bootstrap/js/bootstrap.bundle.js')
script(src='/javascript/debtor.js')
