doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    title Karibu Grocery Limited
    meta(content='', name='description')
    meta(content='', name='keywords')
    link(href='/assets/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/assets/css/main.css', rel='stylesheet')
  body.page-index
    header#header.header.d-flex.align-items-center.fixed-top
      .container-fluid.container-xl.d-flex.align-items-center.justify-content-between
        a.logo.d-flex.align-items-center(href='')
          img(src='/img/logokgl.jpeg', alt='')
          |  
          h1.d-flex.align-items-center KGL
        i.mobile-nav-toggle.mobile-nav-show.bi.bi-list
        i.mobile-nav-toggle.mobile-nav-hide.d-none.bi.bi-x
    section#hero.hero.d-flex.align-items-center
      .container
        .row
          .col-xl-4
            h2(data-aos='fade-up') Karibu Grocery Limited
            blockquote(data-aos='fade-up', data-aos-delay='100')
              p
                | KGL deals in the best wholesale produce dealing in cereals like Beans,
                | Grains, Maize, cowpeas,G-nuts and Soyabeans
            .d-flex(data-aos='fade-up', data-aos-delay='200')
              a.btn-get-started(href='/login') LOGIN
        div(style='color:#FFFFFF; margin:40px;')
          span#footer-content &copy; 2022 Copyright: Arinaitwe Sheila
    script(src='/assets/bootstrap/js/bootstrap.bundle.js')
    script(src='/assets/js/main.js')