doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title KGL STAFF LOGIN
  link(href='/assets/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/assets/css/login.css')
// navbar
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    img(src='/img/logokgl.jpeg' alt='')
    a.navbar-brand(href='#') KGL
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(aria-current='page' href='/html/kgl.html') Home
        li.nav-item
          a.nav-link(href='/html/login.html') LOG IN
        li.nav-item
          a.nav-link(href='/html/kgl.html') LOG OUT
.container
  form(name='registration' onblur='firstFocus()')
    .brand-title LOGIN
    .inputs
      label EMAIL
      input(type='email' placeholder='example@test.com')
      label PASSWORD
      input(type='password' name='password' placeholder='Min 4 charaters' onblur='valPass() ')
      button(type='submit') LOGIN
span#footer-content &copy; 2022 Copyright: Arinaitwe Sheila
script(src='/assets/bootstrap/js/bootstrap.bundle.js')
script(src='/javascript/register.js')
