doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Purchases Portal
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/login.css')
    link(rel='stylesheet', href='/assets/css/page.css')
    link(rel='stylesheet', href='/assets/css/sales.css')
  body(onload='firstFocus()')
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        img(src='/img/logokgl.jpeg', alt='')
        a.navbar-brand(href='#') KGL
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                | SALES
              ul.dropdown-menu(aria-labelledby='navbarDropdown')
                li
                  a.dropdown-item(href='/sales') Sales Input
                li
                  a.dropdown-item(href='/sales/report') Sales Records
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                | PROCUREMENT
              ul.dropdown-menu(aria-labelledby='navbarDropdown')
                li
                  a.dropdown-item(href='/purchases') Procurement Input
                li
                  a.dropdown-item(href='/purchases/report') Procurement Records
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                | CREDIT SALES
              ul.dropdown-menu(aria-labelledby='navbarDropdown')
                li
                  a.dropdown-item(href='/credit') Credit Sales Input
                li
                  a.dropdown-item(href='/credit/report') Credit Sales Records
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                | REGISTER
              ul.dropdown-menu(aria-labelledby='navbarDropdown')
                li
                  a.dropdown-item(href='/register') Register Here
                li
                  a.dropdown-item(href='/report/register') Register Records   
            li.nav-item
              a.nav-link(href='/landing') LOGOUT
    .container
      form( action="/purchases" method="POST" name='registration' onblur='firstFocus()' )
        .brand-title PROCUREMENT INPUT
        .inputs
          .row
            .tableRow.col
              label Name of produce (kgs)
              select(name='nameofProduce' onblur='valProduce()')
                option(value='') Name of goods
                option(value='beans') Beans
                option(value='maize') Maize
                option(value='cpeas') Cowpeas
                option(value='gnuts') G-nuts
                option(value='soyabeans') Soya Beans
            .tableRow.col
              label Branch
              select(name='branch' onblur='valBran()')
                option(value='') Branch Name
                option(value='ggaba') Ggaba
                option(value='ntinda') Ntinda
          .row
            .tableRow.col
              label Date/Time of produce:
              input(type='datetime-local', name='date', onblur='valdate()')
            .tableRow.col
              label Tonnage (kgs)
              input(type='number', name='tonnage', onblur='valTon()')
          .row
            .tableRow.col
              label Cost(ugx):
              input(type='Number', name='thecost', onblur='valCost()')
            .tableRow.col
              label Name of the dealer:
              input(type='text', name='nameofthedealer', onblur='valDealer()')
          .row
            .tableRow.col
              label Price to be sold :
              input(type='number', name='pricetosold', onblur='valPrice()')
              span#paiderror
            .tableRow.col
              label Contact:
              input(type='text', name='contact', placeholder='0705522174', onblur='valContact()')
            .tableRow.col
              label Type of produce:
              input(type='text', name='goods', onblur='valTop()')  
          .row
            .tableRow
              label
              button#mybutton.btnc(type="submit") Submit
    span#footer-content &copy; 2022 Copyright: Arinaitwe Sheila
    script(src='/assets/bootstrap/js/bootstrap.bundle.js')
    script(src='/javascript/procurement.js')