extends layout 
block content 
  .container
    form(name='registration', onsubmit='', onblur='firstFocus()' action="/register" method="POST")
      .brand-title REGISTER HERE
      .inputs
        .row
          .tableRow.col
            label First Name
            input(type='text', name='firstname', onblur='frname()')
          .tableRow.col
            label Sur Name
            input(type='text', name='surname', onblur='valSec()')
        .row
          .col-6
            label Branch
            select(name='branch', onblur='valBran()')
              option(value='default') Branch Name
              option(value='ka') Kampala
              option(value='ma') Mbarara
          .col-6
            label Role
            select(name='role', onblur='valRole()')
              option(value='default') Role
              option(value='ka') Director
              option(value='ma') Manager
              option(value='ma') Sales Agents
        .row
          .tableRow.col
            label EMAIL
            input(type='email', name='email', placeholder='example@test.com', onblur='valEmail()')
          .tableRow.col
            label PASSWORD
            input(type='password', name='password', placeholder='Min 4 charaters', onblur='valPass()')
        button(type='submit') Register
    span#footer-content &copy; 2022 Copyright: Arinaitwe Sheila
    script(src='/assets/bootstrap/js/bootstrap.bundle.js')
    script(src='/javascript/register.js')