doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sales Portal
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='/assets/css/login.css')
  link(rel='stylesheet' href='/assets/css/page.css')
  link(rel='stylesheet' href='/assets/css/sales.css')
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    img(src='/img/logokgl.jpeg' alt='')
    a.navbar-brand(href='#') KGL
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(aria-current='page' href='/html/kgl.html') Home
        li.nav-item
          a.nav-link(href='/html/login.html') LOGIN
        li.nav-item
          a.nav-link(href='/html/kgl.html') LOG OUT
.container
  form(name='registration' onblur='firstFocus()' action="/sales" method="POST")
    .brand-title SALES
    .inputs
      .row
        .tableRow.col
          label Name of produce(kgs):
          select(name='producename' id='' onblur='valProd()')
            option(value='default')  Select name of produce
            option(value='Beans') Beans
            option(value='Grain') Grain
            option(value='Maize') Maize
            option(value='cpeas') Cowpeas
            option(value='G_nuts') G-nuts
            option(value='Soya Beans') Soya Beans
        .tableRow.col
          label Tonnage (kgs)
          input(type='alphanumeric' name='tonnage' onblur='valTonnage()')
      .row
        .tableRow.col
          label Amount paid(ugx)
          input(type='alphanumeric' name='amountpaid' onblur='valPaid()')
        .tableRow.col
          label Buyer&apos;s Name:
          input(type='alphanumeric' name='buyername' onblur='valBuyer()')
      .row
        .tableRow.col
          label Sales agent&apos;s name:
          input(type='alphanumeric' name='agentsname' onblur='valSale()')
        .tableRow.col
          label Date and Time 
          input(type='datetime-local' name='dateandtime' onblur='valDate()')
      .row
        div
          label
          button#mybutton.btnc.submit Submit
span#footer-content &copy; 2022 Copyright: Arinaitwe Sheila
script(src='/assets/bootstrap/js/bootstrap.bundle.js')
script(src='/javascript/sale.js')
